<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agriculture Carbon Tracking</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='agriculture.css', v=1) }}"
    />
  </head>
  <body>
    <div class="navbar">
      <p class="title" style="font-size: 25px">Agriculture Carbon Tracking</p>
      <p class="help"><button>Help</button></p>
    </div>

    <div class="container">
      <div class="btn-container">
        <button id="currentCarbon">--</button>
        <button id="percentChange">--</button>
        <button id="thresholdStatus">--</button>
        <button id="sensorData">--</button>
        <button id="settings"></button>
      </div>

      <div class="dashboard">
        <div class="graph-container">
          <div class="skeleton graph"></div>
          <div class="skeleton graph"></div>
          <div class="skeleton graph"></div>
        </div>
        <div class="skeleton pie-chart"></div>
      </div>

      <div class="table-container">
        <div class="skeleton table-header"></div>
        <div class="skeleton table-row"></div>
        <div class="skeleton table-row"></div>
        <div class="skeleton table-row"></div>
        <div class="skeleton table-row"></div>
      </div>
    </div>
    <div class="last-btn">
      <div class="alert-container">
        <button>Alert List</button>
      </div>
      <div class="email-container">
        <button>Email/SMS</button>
      </div>
    </div>
  </body>
</html>
