<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transport Carbon Tracking</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='transportDashboard.css', v=1) }}"
    />
  </head>
  <body>
    <div class="navbar">
      <p class="title" style="font-size: 25px">Transport Carbon Tracking</p>
      <p class="help"><button>Help</button></p>
    </div>

    <div class="container">
      <div class="btn-container">
        <button>{{user.email}}</button>
        <button>{{vehicle_type}}</button>
        <button>{{car_type}}</button>
        <button>{{vehicle_number}}</button>
        <button>{{carbon_emission}}</button>
      </div>

      <div class="table-container">
        <div class="skeleton table-header"></div>
        <div class="skeleton table-row"></div>
        <div class="skeleton table-row"></div>
        <div class="skeleton table-row"></div>
      </div>
    </div>
  </body>
</html>
